* {
  margin: 0;
  padding: 0;
}
html {
  overflow-x: hidden;
}
.burger-menu__nav {
  display: none;
}
.page-header {
  max-width: 100%;
}
.page-header__logo {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  margin: 0;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  line-height: 35px;
  letter-spacing: 1px;
  color: black;
}
.page-header__navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 46px;
  max-width: 80%;
  margin: 0 auto;
}
.page-header__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 2px;
  text-decoration: none;
  color: black;
  padding-bottom: 25px;
}
.background {
  display: flex;
  flex-direction: column;
  background-image: url(../img/hotel.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 465px;
  max-width: 100%;
}
.background__circle {
  width: 55px;
  height: 55px;
  background-color: #ff7931;
  border-radius: 50%;
  margin: 40px auto;
}
.circle__mountain {
  padding: 16px 13px 21px 15px;
}

.background__header {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 84px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}
.background__text {
  padding-top: 139px;
  width: 456px;
  margin: 0 auto;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}
.container__view {
  max-width: 100%;
}
.view {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 2px;
  color: #000000;
}
.container__news {
  width: 1162px;
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}
.news {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  margin-left: 29px;
}
.news__img {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.news__header {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 900;
  font-size: 23px;
  line-height: 31px;
  color: #000000;
}
.news__header--orange {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 900;
  font-size: 23px;
  line-height: 31px;
  color: #ff7931;
}
.news__text {
  padding-top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #000000;
}
.m-rectangle {
  display: none;
}
.rectangle {
  display: flex;
  justify-content: center;
  background-color: #f7f7f7;
  width: 100%;
  height: 556px;
  overflow: hidden;
  background-repeat: no-repeat;
}
.rectangle__circle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 707px;
  height: 707px;
  top: -75px;
  background: #ffffff;
  border-radius: 50%;
}
.rectangle__subscription {
  display: block;
  margin: 0 auto;
  margin-bottom: 35px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 2px;
  color: #000000;
}
.rectangle__header {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 900;
  font-size: 23px;
  line-height: 31px;
  text-align: center;
  color: #000000;
}
.rectangle__text {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  width: 370px;
  height: 63px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #000000;
}
.rectangle__watch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-decoration: none;
  background: #ff7931;
  width: 170px;
  height: 47px;
}
.rectangle__button {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}
.rectangle__arrow {
  display: block;
  margin-left: 11px;
}
.rectangle__line {
  margin: 0 auto;
  margin-bottom: 24px;
  width: 100px;
  height: 0px;
  opacity: 0.4;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transform: rotate(0.1deg);
}
.page-footer {
  background-color: #575757;
  width: 100%;
  height: 295px;
  margin-top: 50px;
  background-repeat: no-repeat;
}
.page-footer__logo {
  display: flex;
  justify-content: center;
  padding-top: 26px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 37px;
  letter-spacing: 1px;
  color: #ffffff;
  margin: 0;
}
.page-footer__navigation {
  display: flex;
  justify-content: space-around;
  padding-top: 32px;
  max-width: 80%;
  margin: 0 auto;
}
.page-footer__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 2px;
  color: #ffffff;
  text-decoration: none;
}
.page-footer__line {
  width: 80%;
  height: 0px;
  margin: auto;
  margin-top: 46px;
  top: 1911px;
  opacity: 0.4;
  border: 1px solid #ffffff;
}
.social {
  padding-top: 42px;
  padding-bottom: 46px;
  display: flex;
  justify-content: space-around;
  max-width: 169px;
  margin: 0 auto;
}
.social__square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 47px;
  background-color: #fff;
}
.social__link {
  display: flex;
  justify-content: center;
  width: 47px;
  height: 47px;
}
@media (max-width: 1140px) {
  .page-header__navigation {
    max-width: 900px;
  }
  .container__news {
    flex-direction: column;
  }
  .news {
    margin-left: 0;
  }
  .news__img {
    max-width: 350px;
    align-self: center;
  }
  .news__header {
    align-self: center;
  }
  .news__header--orange {
    align-self: center;
  }
  .news__text {
    align-self: center;
    text-align: center;
    margin-top: 10px;
    max-width: 360px;
  }
  .page-footer__navigation {
    max-width: 900px;
  }
}
@media (max-width: 850px) {
  .page-header__navigation {
    flex-wrap: wrap;
  }
  .page-header__link {
    margin-left: 35px;
    margin-right: 35px;
  }
  .background__header {
    flex-wrap: wrap;
  }
  .rectangle {
    display: none;
  }
  .m-rectangle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f7f7f7;
    width: 100%;
    height: 556px;
    background-repeat: no-repeat;
  }
  .m-rectangle__subscription {
    display: block;
    margin: 0 auto;
    margin-bottom: 35px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #000000;
  }
  .m-rectangle__header {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 900;
    font-size: 23px;
    line-height: 31px;
    text-align: center;
    color: #000000;
  }
  .m-rectangle__text {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    width: 370px;
    height: 63px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #000000;
  }
  .m-rectangle__watch {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-decoration: none;
    background: #ff7931;
    width: 170px;
    height: 47px;
  }
  .m-rectangle__button {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
  }
  .m-rectangle__arrow {
    display: block;
    margin-left: 11px;
  }
  .m-rectangle__line {
    margin: 0 auto;
    margin-bottom: 24px;
    width: 100px;
    height: 0px;
    opacity: 0.4;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transform: rotate(0.1deg);
  }
  .page-footer__logo {
    display: none;
  }
  .page-footer__navigation {
    display: none;
  }
  .page-footer__link {
    display: none;
  }
  .page-footer__line {
    display: none;
  }
  .social {
    padding-top: 125px;
    padding-bottom: 125px;
  }
}
@media (max-width: 750px) {
  .page-header__logo {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .page-header__navigation {
    display: none;
  }
  .burger-menu__button {
    position: relative;
    top: 48px;
    left: 30px;
    z-index: 30;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transition: 0.4s;
    background-color: #fff;
  }
  .burger-menu__lines,
  .burger-menu__lines::after,
  .burger-menu__lines::before {
    position: absolute;
    width: 30px;
    height: 5px;
    background-color: #2a2a2a;
  }
  .burger-menu__lines {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .burger-menu__lines::before {
    content: "";
    top: -12px;
  }
  .burger-menu__lines::after {
    content: "";
    top: 12px;
  }
  .burger-menu_active .burger-menu__button,
  .burger-menu_active .burger-menu__lines {
    background-color: transparent;
  }
  .burger-menu_active .burger-menu__lines::before {
    top: 0;
    transform: rotate(45deg);
    background-color: transparent;
  }
  .burger-menu_active .burger-menu__lines::after {
    top: 0;
    transform: rotate(-45deg);
    background-color: transparent;
  }
  .burger-menu__nav {
    padding-top: 35px;
    position: fixed;
    z-index: 20;
    display: flex;
    flex-flow: column;
    height: 100%;
    background-color: #2a2a2a;
    overflow-y: auto;
    left: -100%;
    transition: 0.5s;
  }
  .burger-menu_active .burger-menu__nav {
    left: 0;
  }
  .burger-menu__link {
    padding: 15px;
    padding-top: 5px;
    font-family: sans-serif;
    font-size: 25px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    color: #fff;
  }
  .burger-menu__link:hover {
    filter: brightness(0.7);
  }
  .burger-menu__overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 10;
  }
  .burger-menu_active .burger-menu__overlay {
    display: block;
  }
  .view {
    padding-top: 20px;
  }
  .container__news {
    padding-top: 20px;
  }
  .page-footer {
    margin-top: 0;
    height: 100px;
    overflow: hidden;
  }
  .social {
    padding-top: 30px;
  }
}
@media (max-width: 730px) {
  .background__text {
    padding-top: 55px;
  }
}
@media (max-width: 415px) {
  .page-header__logo {
    font-size: 25px;
    padding-left: 50px;
  }
  .page-header__navigation {
    display: none;
  }
  .burger-menu__button {
    position: relative;
    top: 50px;
    left: 25px;
  }
  .burger-menu__lines,
  .burger-menu__lines::after,
  .burger-menu__lines::before {
    width: 30px;
    height: 3px;
  }
  .background {
    height: 400px;
  }
  .background__header {
    font-size: 45px;
    line-height: 50px;
  }
  .background__text {
    padding-top: 75px;
    width: 300px;
    font-size: 11px;
  }
  .news__header {
    font-size: 17px;
  }
  .news__header--orange {
    font-size: 17px;
  }
  .news__text {
    align-items: center;
    width: 250px;
    font-size: 14px;
  }
  .m-rectangle__subscription {
    font-size: 15px;
  }
  .m-rectangle__header {
    font-size: 17px;
  }
  .m-rectangle__text {
    width: 200px;
    font-size: 12px;
  }
}
